.App {
  position: absolute;
  width: 558px;
  height: 92px;
  left: 441px;
  top: 30px;
  font-family: Sansita;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 77px;
  text-align: center;

  position: absolute;
  width: 1083px;
  height: 348px;
  left: 179px;
  top: 347px;

  font-family: Sansita;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: rgba(21.25000063329935, 21.10950317233801, 20.895833037793636, 1);
  opacity: 1;
  width: 558px;
  height: 92px;
  font-family: Sansita;
  text-align: center;
  font-size: 64px;
  letter-spacing: 0;
  line-height: undefined;
}
